.single-card{
    background-color: #f1f1f1;
    border-radius: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    height: 250px;
}

.single-entry-footer{
    bottom: 20px;
    position: absolute;
    width: 100%;
}

.delete{
    right: 60px;
    position: absolute;
    bottom: 0px;
}

.delete:hover{
    color: #68B3C8;
}