<div class="single-card" id="single-card">
    <a [routerLink]="['/entry',id]">
    <div>
        <h2 style="margin-top:1px;">{{title}}</h2>
    </div>
    <div style="color:#666666;"> 
        {{text}}
    </div>
    </a>
    <div class="single-entry-footer">
        <div class="created">
            Erstellt von: {{creator}}
        </div>
        <div class="delete" *ngIf="IsSameUser == true" (click)="deleteEntry()">
            <i class="ti-trash"></i>
        </div>
        <div class="edit" *ngIf="IsSameUser == true" (click)="editEntry()">
            <i class="ti-pencil-alt"></i>
        </div>
    </div>
    
</div>

