<div class="card">

    <div class="header">
        <h2 class="title">Forum-Einträge</h2>
        <br>
    </div>
    <div>
        <input class="btn btn-default" type="button" (click)="addEntry()" value="Eintrag hinzufügen">
    </div>

    <div class="card enty-container">
        <app-single-entry class="col-md-3 col-sm-3 col-lg-4"
        *ngFor="let e of Entries"
        title="{{e.title}}"
        text="{{e.text}}"
        creator="{{e.creator}}"
        id="{{e.id}}"
        ></app-single-entry>
    </div>
</div>
