<div class="card">

    <div class="header-table header">
        <table style="width: 100%;">
            <tr>
                <td>
                    <h2 class="title">Forum-Einträge</h2>
                </td>
                <td *ngIf="IsUserLoggedIn == true" align="right">
                    <input class="btn btn-default" type="button" (click)="showAddEntry()" value="Eintrag hinzufügen">
                </td>
            </tr>
        </table>
    </div>
    

    <div class="card enty-container">
        <div class="search">
            <input #searchTermInput [(ngModel)]="searchTerm" name="searchTerm" class="form-control search-input" placeholder="Suchen">
            <br>
        </div>
        <single-entry class="col-md-4 col-sm-4 col-lg-4 col-xs-6"
        *ngFor="let e of Entries"
        title="{{e.title}}"
        text="{{e.text}}"
        creator="{{e.creator}}"
        id="{{e.id}}"
        (deleted)="entryDeleted()"
        (openEdit)="editEntry($event)"
        ></single-entry>
    </div>


    <div class="popup" *ngIf="IsAddEntryPopupShown == true">
        <div class="popup-content">
            <div class="popup-close" (click)="closePopup()">&times;</div>
            <entry-form
            (saved)="entrySaved()"
            ></entry-form>
        </div>
    </div>

    <div class="popup" *ngIf="IsEditEntryPopupShown == true">
        <div class="popup-content">
            <div class="popup-close" (click)="closePopup()">&times;</div>
            <entry-form
                id="{{EntryToEdit.id}}"
                title="{{EntryToEdit.title}}"
                text="{{EntryToEdit.text}}"
            (saved)="entrySaved()"
            ></entry-form>
        </div>
    </div>
</div>
